.btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Helvetica";
  cursor: pointer;
}
