@import "../../../app/styles/mixins";

.heroContainer {
  @include regularBox(100%, 1080px, unset, flex, center, center, column);
  background-image: url("../../../../public/assets/images/home-page/hero-section-bg.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;

  .text {
    width: 720px;
    height: 740px;
    color: #fff;
  }
}
