@import "../../app/styles/mixins";

.headerContainer {
  @include regularBox(100%, 91px, unset, flex, center, center);
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  z-index: 5000;


  .headerContent {
    @include regularBox(1676px, 100%, unset, flex, space-between, center);
  }
}
