.navigationList {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    // &:nth {
    //     margin-right: 70px;
    // }

    .navLink {
        color: #FCFCFC;
        text-decoration: none;
        margin-right: 70px;
        font-weight: 300;
    }
}