@import "../../../app/styles/variables.module";

.navigationList {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    text-transform: capitalize !important;
    letter-spacing: 1px !important;
    font-weight: 200 !important;
    font-size: 18px !important;
    margin-right: 70px;
    background-color: transparent !important;   
  

    .link {
      text-decoration: none;
      color: #fcfcfc;
      transition: 0.5s;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}
